@import "components/TicTacToe/index.css";

* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
body {
	font-size: 20px;
}
/***********RESET************/
nav {
	text-align: center;
}
nav a {
	margin: 10px;
	text-decoration: none;
	font-weight: bold;
}
nav a:hover {
	color: yellow;
}

.contents {
	width: 70%;
	margin: auto;
	text-align: center;
	/*vertical-align: middle;*/
	/*line-height: 200px;*/
	min-height: 400px;
}
.contents ul li {
	list-style: none;
}
.contents-footer {
	background: silver;
	height: 100vh;
}
.contents-header {
	background: orange;
}
.contents-container {
	background: lightgreen;
}
.home-container {
	background: lightblue;
}
.delete-btn {
	background: pink;
	color: red;
	font-weight: bold;
	padding: 4px;
	margin: 2px;
}
.delete-btn:hover {
	background: red;
	color: white;
	cursor: pointer;

}
